@import url('https://fonts.googleapis.com/css2?family=Bungee&family=ZCOOL+KuaiLe&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1F2041;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#root {
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 400px;
    min-height: 350px;
    min-width: 350px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.game-title {
    font-family: "Bungee", sans-serif;
    font-size: 2rem;
    margin: 10px 0;
}

.game-instructions {
    font-family: "ZCOOL KuaiLe", sans-serif;
    margin: 10px 0;
}

.die-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
    padding: 20px;
}

.die {
    font-family: "Bungee", sans-serif;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

button:focus {
    outline: none;
}

.roll-button {
    font-family: "ZCOOL KuaiLe", sans-serif;
    display: block;
    margin: 10px auto;
    cursor: pointer;
    background-color: #3772FF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.restart-button {
    background-color: #D84727;
}

.die-selected {
    background-color: #63C132;
    color: #fff;
    cursor: default;
}

.hide-restart-button {
    display: none;
}

.no-match {
    background-color: #D84727 !important;
    transition: background-color 0.2s ease;
}

.hide-confetti {
    display: none;
}